<div class="jumbotron  mt-4">
	<h1 class="display-4">Notes App Nodejs and MongoDB</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque dicta, totam sequi nobis eius perferendis perspiciatis delectus, dolore repellendus, modi incidunt, nihil corrupti neque aperiam? Dolorum accusantium quidem neque id!</p>
	<hr class="my-4">

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quo tempora, omnis repellat beatae, esse soluta, sunt explicabo adipisci sequi eos quae provident corrupti accusamus dolorem, labore facere deleniti ullam!</p>
	<a href="https://www.gustavoherrera.net" class="btn btn-primary btn-lg">GustavoHerrera</a>
</div>